.git
.gitignore
.gitattributes
.github
.editorconfig
.env
.env.*
!.env.example

.vscode
.idea
.DS_Store

node_modules
vendor
public/build
public/hot
public/storage

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache

tests
phpunit.xml
.phpunit.result.cache
.phpunit.cache

docker-compose.yml
docker-compose.*.yml
compose.yaml
scripts

README*
*.md
